body{
    margin: 0;
}

.details{
    background-color: black;
}

.kaapa{
    position: relative;
}
.h{
    position: absolute;
    color: rgb(255, 255, 255);
    margin-left: 300px;
    top: 25px;
    font-style: bold;
    font-family: sans-serif;

}
.d2{
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 30px;
    margin-left: 310px;
    top: 140px;
    font-family: sans-serif;
}
.lang{
    position: absolute;
    background-color: aliceblue;
    top: 140px;
    margin-left: 350px;
    font-family: sans-serif;
}
.time{
    position: absolute;
    color: aliceblue;
    top: 190px;
    margin-left: 310px;
    font-family: sans-serif;
}
.book{
    position: absolute;
    top: 300px;
    margin-left: 30px;
    height: 40px;
    background-color: rgb(190, 39, 39);
    border-radius: 15px;
    cursor: pointer;
    font-family: sans-serif;
    
}
.abo{
    position: absolute;
    color: aliceblue;
    top: 100px;
    margin-left: 850px;
    font-family: sans-serif;
}
.abo1{
    position: absolute;
    color: aliceblue;
    top: 150px;
    font-family: sans-serif;
    margin-left: 850px
    
}
.share{
    position: absolute;
    top: 300px;
    margin-left: 580px;
    height: 40px;
    width: 80px;
    cursor: pointer;
    background-color: rgb(190, 39, 39);
    border-radius: 15px;
}
.pri{
    position: absolute;
    border-radius: 50%;
    
}


.a{
    border-radius: 50%;
   position: relative;
   top: 20px;
  
}

.b{
    border-radius: 50%;
    position: relative;
    top: 20px;
   
}
.c{
    border-radius: 50%;
    position: relative;
    top: 20px;
   text-decoration: none;
   text-align: center;

   
}
.d{
    border-radius: 50%;
    position: relative;
    top: 20px;;
    
}
.e{
    border-radius: 50%;
    position: relative;
    top: 20px;
    
}
.img{
    display: inline-flex;
    position: relative;
    gap: 4rem;

}
h3{
    position: relative;
    text-align: center;
    font-family: sans-serif;
}
h5{
    text-align: center;
    font-family: sans-serif;
}
.cast{
    position: relative;
    left: 70px;
}