#h{
    text-align: center;
    font-weight: bolder;
    font-family: sans-serif;
    
}
.images{
    position: relative;
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    gap: 3rem;
    
}
.img{
    height: 100%;
    width: 100%;
    aspect-ratio: 3/4;
    object-fit: cover;
}
#h1{
    position: relative;
    font-family: sans-serif;
    font-size: large;

}
h4{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}