#screen{
    width: 800px;
    margin: 0 auto;
    margin-bottom: 55px;
    height: 8px;
    border: 1px solid rgb(158, 27, 29);
    background-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}
#root{ 
    width: 1024;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-gap: 12px;
}

.seat{
    width: 24px;
    height: 24px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
}
.seat:hover{
    background-color: rgb(116, 157, 211);
}
.booked{
    background-color: rgb(158, 27, 27);
}
button{
    position: absolute;
    padding: 12px;
    outline: none;
    border: none;
    background-color: rgb(158, 27, 27);
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 470px;
    margin-top: 50px;
}
