body{
    background-color: aliceblue;
    margin: 0;
}
h2{
    background-color: red;
    padding: 10px;
    color: aliceblue;
    position: relative;
    text-align: center;
}

.name{
    position: relative;
    height: 30px;
    width: 25%;
    left: 37%;
    top: 20px;
    text-align: center;
    
}

.email{
    position: relative;
    height: 30px;
    width: 25%;
    left: 37%;
    top: 40px;
    text-align: center;
}
.num{
    position: relative;
    height: 30px;
    width: 25%;
    left: 37%;
    top: 60px;
    text-align: center;
}
.submit{
    position: relative;
    height: 30px;
    width: 10%;
  left: 45%;
    top: 80px;
}

