body{
    margin: 0;
    
    background-color: rgb(179, 168, 168);
}
.AB{
 
   position:relative;
  
}
h2{
    color: rgb(13, 13, 14);
    font-family: sans-serif;
    left: 30px;
    position: relative;
}
P{
    display:inline-flex;
    gap: 3rem;
    position: relative;
    border-radius: 5px;
    border-style: solid;
    word-spacing: 200em;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    left: 30px;
}
.head{
    position: relative;
    word-spacing: 1em;
}
h4{
    position: relative;
    left: 30px;
    top: 16px;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}
.btn{
    position: relative;
    left: 303px;
    top: -30px;
    word-spacing: 2em;
}
button{
    cursor: pointer;
    width: 100px;
    height: 50px;
    border-radius: 10px;
}
